bot/SPAIK - Callback.json
{
  "name": "SPAIK - Callback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spaik/callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ccfc0253-934f-454b-8a3c-d323537a9c53",
      "name": "Webhook (Spaik Callback)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        112
      ],
      "webhookId": "30905adc-8108-485b-9612-9987364db806"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "messageId",
              "value": "={{ $json.body.messageId }}",
              "type": "string"
            },
            {
              "id": "4ef26301-4497-42ce-8c4a-64fb26ac1a68",
              "name": "status",
              "value": "={{ $json.body.status }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "file",
              "value": "={{ $json.body.file }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "errorMessage",
              "value": "={{ $json.body.errorMessage }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0bba89b9-2ec5-4448-b6ec-c59f289183e5",
      "name": "Set Callback Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        144,
        208
      ]
    },
    {
      "parameters": {
        "queue": "spaik.status",
        "options": {}
      },
      "id": "9cead0b3-28ad-44b0-9bf4-21639fb10092",
      "name": "RabbitMQ - Publish Status",
      "type": "n8n-nodes-base.rabbitmq",
      "typeVersion": 1.1,
      "position": [
        352,
        208
      ],
      "credentials": {
        "rabbitmq": {
          "id": "uJx68wN9OxdoLeLL",
          "name": "RabbitMQ account"
        }
      }
    },
    {
      "parameters": {},
      "id": "61f0b458-9f0c-49a6-9531-c526ddac9b6c",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        576,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"ACCEPTED\",\n  \"receivedAt\": \"{{$now}}\"\n}\n",
        "options": {
          "responseCode": 202
        }
      },
      "id": "c1b2871b-ae81-47a8-affd-0c43e572f6a8",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        240,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Spaik Callback)": {
      "main": [
        [
          {
            "node": "Set Callback Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Callback Fields": {
      "main": [
        [
          {
            "node": "RabbitMQ - Publish Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RabbitMQ - Publish Status": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "No Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8dc2f1a9-bf5e-45ba-8228-7b1ae500a8a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b77bec5364124c371a46f56bf9320d3497b5ae9c545b1715a080987f66277837"
  },
  "id": "gnucNgnfUcmfvxDh",
  "tags": []
}